# Токен бота Яндекс Мессенджера
BOT_TOKEN=

# Токен для доступа к API Яндекс Трекера (OAuth)
TRACKER_TOKEN=

# ID организации в Яндекс 360
ORG_ID=

# URL для вебхука (ваш публичный адрес)
WEBHOOK_URL=

# Список очередей для поиска через запятую (без пробелов)
# Например: SYS,VD,TEST,PROJ
TASK_QUEUES=

# Порт для запуска
PORT=5000

# Режим отладки
DEBUG=False